<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nyjsl.jetpack">

    <application>

        <activity
            android:name=".router.UriProxyActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="nyjs.org"
                    android:scheme="zeus"/>
            </intent-filter>
        </activity>

    </application>

</manifest>